
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}
html{
scroll-behavior: smooth;
}
body{
    background-color:white;
}

* {
    box-sizing: border-box;
    font-family:'Open Sans';
  }
  .reveal{
    position: relative;
    opacity: 0;
    transform: translateY(150px);
    transition: all ease 2s;
  
  }
  
  
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }
/* remove scrollbar*/
*::-webkit-scrollbar{
    display: none;
  }
 p{
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
 }

  #navbar-example2{
    border-radius: 30px;
  }
  #navbar-example2 a{
    color: black;
  }
  #navbar-example2 a:hover{
    color: rgb(155, 142, 142);
  }


iframe{
    width: 30%;
}

       
.logo{
    float: right;
    padding-top: 12px;
}
     

/* head of the page*/

.head-img {
    text-align: center;
    border-radius: 20px;
    
    background-color: #fbf9f9;
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-image: url('img/zarpq292tmb3whun.jpg');
    background-size:cover;
    background-position: center;
    background-blend-mode:multiply ;
    color:white;
   
}


.content {
    margin-left: 200px;
    padding-left: 20px;
   
  }
.file-section{
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    
}
  /* Style the side navigation */
.sidenav {
    height: 50%;
    width: 200px;
    position:absolute;
    z-index: 1;
    top: 20;
    left: 20;
    background-color: rgb(248, 246, 246);
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 20px;
    margin-left:10px;
    box-shadow:5px 5px 10px rgb(170, 174, 175);
    margin-top: 20px;
    
  }
  .sidenav h5{
    font-weight: 600;
    margin-right: 2px;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: rgb(14, 14, 14);
    padding: 16px;
    text-decoration: none;
    display: block;
    border-radius: 30px;
    font-weight: 400;
    font-size: 15px;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    color: #919295;
    
    
  }
  







/* sezione centrale */
.course{
    border-radius: 30px;
    margin-top:50px ;
    padding-bottom: 70px;
    padding-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 200px;
    width: 80%;
    box-shadow:5px 5px 10px rgb(35, 77, 129);

}
.course:hover{
  
  transition: box-shadow 0.5s ease-in-out;
}


.scrollspy-example{
    margin-right: 30px;
    margin-bottom: 40px;
    border-radius: 50px;
    
}

 .lessons{
    margin-top:30px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
    box-shadow:5px 5px 10px rgb(170, 174, 175);
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 20px;
    
}


 .info-prof{
    margin-top:30px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
    box-shadow:5px 5px 10px rgb(170, 174, 175);
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 20px;
    

}



/* link section */
.sources {
    margin-top:30px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    box-shadow:5px 5px 10px rgb(170, 174, 175);
    border-radius: 30px;
    margin-right: 20px;
   
    
    

}

.p-3{
    
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow:3px 3px 3px rgb(190, 214, 243);
  background-color: rgb(244, 245, 247);



    
}
.col{
  display: inline-block;
  text-align: center;
}
.col .fa{
  margin-right: 10px; 
  margin-bottom: 10px;
 
}
/* icone link */
.fa{
   
    font-size: 70px;

}
.fa:hover{
  transition: font-size ease-in-out 0.3s;
  font-size: 90px;
  border-radius: 50px;
}

/* orari */
.h1, h4{
    font-weight: 800;
    margin-left: 40px;
    margin-top: 40px;

}
h4{
  text-align: center;
}
.schedule{
    margin-top:20px;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
    box-shadow:5px 5px 10px rgb(170, 174, 175);
    border-radius: 30px;
    margin-right: 50px;
    margin-left: 20px;
    

}
.divider-1 {
  border-bottom: 2px solid rgb(143, 143, 223);
  background-color: rgb(143, 143, 223);
  height: 2px;
  margin: 0.5em 0px 1.5em;
}

.divider-1 span {
  display: block;
  width: 50px;
  height: 2px;
  background-color: rgb(223, 212, 238);
}
.divider-2 {
border-bottom: 2px solid rgb(91, 87, 87);
background-color: rgb(36, 36, 37);
height: 2px;
margin: 0.5em 0px 1.5em;
}

.divider-2 span {
display: block;
width: 50px;
height: 2px;
background-color: rgb(223, 212, 238);
}


.input-group{
  width: 98%;
  border-radius: 30px;
  margin-right: 20px;
  
 
}


.input-group-text{
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgb(188, 188, 241);
  color: white;
}
.input-group-text:hover{
  background-color: rgb(174, 174, 247);

  box-shadow:2px 2px 2px rgb(79, 75, 105);
  transition: ease-out box;

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  *{
      font-size: small;
  }
  .sidenav{
      width: 100px;

  }
  .content{
      
      margin-left: 100px;
  }
 
  .nav a{
    font-size: 12px;
    display: inline-block;
    text-align: center;
  }
  .navbar-brand{
    font-size: 0px;
  }
 .content{
 margin-top: 500px;
 width: 300px;
 margin-left: 5px;
text-align: center;
 }
 .sidenav{
  width: 250px;
  margin-left: 35px;
  height: 400px;
 }
 .sidenav a{
  text-align: center;
 }
 .sidenav h5{
  text-align: center;
 }
 

  iframe{
      width: 70%;
  }
 
 
  
 
}