<!doctype html>
<html lang="ar" dir="rtl">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/education.css}"
	href="/css/education.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
	function createCourse() {
		const formData = new FormData();
		formData.append('image', $('#image')[0].files[0]);

		const course = {
			class_code : $('#course_id').val(),
			name : $('#name').val(),
			details : $('#details').val(),
			resources : $('#resources').val(),
			chat : $('#chat').val(),
			prof : $('#prof').val(),
			yt : $('#yt').val(),
			site : $('#site').val(),
			maps : $('#maps').val(),
			professor_name : $('#professor_name').val(),
			professor_details : $('#professor_details').val(),
			year : $('#year').val()
		};
		
		console.log(JSON.stringify(course));
		
		formData.append('course', new Blob([ JSON.stringify(course) ], {
			type : 'application/json'
		}));

		$.ajax({
			url : 'http://localhost:8080/api/course/create',
			type : 'POST',
			data : formData,
			contentType : false,
			processData : false,
			success : function(response) {
				console.log('Post created successfully:', response);
			},
			error : function(xhr, status, error) {
				console.error('Error creating post:', error);
			}
		});
	}

	$(document).ready(function() {
		$('#courseForm').on('submit', function(event) {
			event.preventDefault();
			createCourse();
		});
	});
</script>

</head>
<body>
	<!-- tonnav -->

	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="direction: ltr;">
		<img th:src="@{/images/0000.png}" alt="Logo" width="180" class="logo">
		
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">

				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
						<span class="sr-only"></span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#primo">I
						Year</a></li>
				<li class="nav-item"><a class="nav-link" href="#secondo">II
						Year</a></li>
				<li class="nav-item"><a class="nav-link" href="#terzo">III
						Year</a></li>

			</ul>
		</div>
		
	</nav>
	<!-- Background img -->
	<header class="head-img text-white text-center"
		th:style="|background-image: url(@{images/marcopolo_foto1.jpg});|">

		<div class="row">
			<div class="col-xl-9 mx-auto">
				<h1>Ingegneria Informatica e Automatica</h1>
			</div>
		</div>

	</header>


	<!-- Year Section-->
	<div class="container reveal">

		<header class="course-year" id="primo">
			<h1>First Year</h1>
			<h4>Scroll and Select a class</h4>
		</header>

	</div>
	<!--cards section-->
	<div class="leftcolumn reveal">

		<div class="scrolling-wrapper">

			<div class="card" th:each=" c : ${courses.get(0)}"
				th:with="course = ${c}">
				<div th:each="d : ${course}">
					<div class="scrolling-text">

					<h2 th:text="${d.getName()}">Course Name</h2>
					</div>
					<div class="divider-1">
						<span></span>
						<h5 th:text="${d.getClass_code()}">course code</h5>


						<p>

							<!-- getProfName-->
						<h5 th:text="${d.getProfessor_name()}">Prof name</h5>

						</p>

						<button type="button" class="btn btn-primary">
							<a th:href="@{|/course/${d.getClass_code()}|}"> Class Page </a>
						</button>


					</div>



				</div>

			</div>
		</div>





		<!-- Secondo -->
		<div class="container reveal">
			<header class="course-year" id="secondo">
				<h1>Second Year</h1>
				<h4>Scroll and Select a class</h4>
			</header>
		</div>

		<div class="leftcolumn reveal">

			<div class="scrolling-wrapper">

				<div class="card" th:each=" c : ${courses.get(1)}"
					th:with="course = ${c}">
					<div th:each="d : ${course}">
						<div class="scrolling-text">

						<h2 th:text="${d.getName()}">Course Name</h2>
						</div>
						<div class="divider-1">
							<span></span>
							<h5 th:text="${d.getClass_code()}">course code</h5>


							<p>

								<!-- getProfName-->
							<h5>Prof name</h5>

							</p>

							<button type="button" class="btn btn-primary">
								<a th:href="@{|/course/${d.getClass_code()}|}"> Class Page </a>
							</button>


						</div>

					</div>

				</div>
			</div>


			<!-- Terzo -->
			<div class="container reveal">
				<header class="course-year" id="terzo">
					<h1>Third Year</h1>
					<h4>Scroll and Select a class</h4>
				</header>
			</div>

			<div class="leftcolumn reveal">

				<div class="scrolling-wrapper">

					<div class="card" th:each=" c : ${courses.get(2)}"
						th:with="course = ${c}">
						<div th:each="d : ${course}">
							<div class="scrolling-text">

							<h2 th:text="${d.getName()}">Course Name</h2>
							</div>

							<div class="divider-1">
								<span></span>
								<h5 th:text="${d.getClass_code()}">course code</h5>


								<p>

									<!-- getProfName-->
								<h5>Prof name</h5>

								</p>

								<button type="button" class="btn btn-primary">
									<a th:href="@{|/course/${d.getClass_code()}|}"> Class Page
									</a>
								</button>


							</div>

						</div>



					</div>
				</div>








				<div class="footer">

					<!--FORM -->
					<div class="contact-form reveal">
						<span class="heading" style="text-align: center; font-size: 8vw;"> New Post</span>
						<form id="courseForm">

							<label for="name">Class Name</label> <input id="name" type="text"
								style="direction:ltr; width: 40%; margin-right: 60%;">
							<label for="course_id"> Course ID</label> <input id="course_id"
								type="integer"
								style="direction:ltr; width: 40%; margin-right: 60%;">

							<label for="year">Anno</label> <select id="year"
								style="direction:ltr; width: 40%; margin-right: 60%;">

								<option style="direction:ltr;" value="1">Primo Anno
								</option>
								<option style="direction:ltr;" value="2">Secondo
									Anno</option>
								<option style="direction:ltr;" value="3">Terzo Anno
								</option>

							</select> <label for="professor_name">Professor</label> <input type="text"
								id="professor_name"
								style="direction:ltr; width: 40%; margin-right: 60%;">

							<label for="professor_details" style="margin-top: 10px;">Prof
								Details</label>
							<textarea id="professor_details" name="prof-details"
								style="direction:ltr;"></textarea>

							<label for="details" style="margin-top: 10px;">Class
								Details</label>
							<textarea id="details" name="class-details"
								style="direction:ltr;"></textarea>


							<label for="resources" style="margin-top: 10px;">Useful
								Resources</label>
							<textarea id="resources" name="useful-resources"
								style="direction:ltr;"></textarea>

								
							<label for="yt" style="margin-top: 10px;">Youtube Channel</label>
							<input id="yt" name="yt" type="text"
							style="direction:ltr;"></input>
							
							<label for="chat" style="margin-top: 10px;">WhatsApp chat group</label>
							<input id="chat" name="chat" type="text"
								style="direction:ltr;"></input>
								
							<label for="maps" style="margin-top: 10px;">Location</label>
							<input id="maps" name="maps" type="text"
								style="direction:ltr;"></input>
								
								<label for="site" style="margin-top: 10px;">Institutional Site</label>
							<input id="site" name="site" type="text"
								style="direction:ltr;"></input>

							<label for="prof" style="margin-top: 10px;">Prof Site</label>
							<input id="prof" name="prof" type="text"
								style="direction:ltr;"></input>

								<div
								class=" d-flex justify-content-center align-items-center  h-100"  style="position:static">
								<label
									class="fileUpload btn btn-primary d-flex justify-content-between align-items-center">
									<span id="file_span">Select a file</span> <svg
										class="bi bi-cloud-arrow-up" viewBox="0 0 100% 100%"
										fill="currentColor" xmlns="http://www.w3.org/2000/svg"
										style="height: 37px; width: 40px">
										  <path fill-rule="evenodd" width="100%"
											d="M0 16v-1.984q0-3.328 2.336-5.664t5.664-2.336q1.024 0 2.176 0.352 0.576-2.752 2.784-4.544t5.056-1.824q3.296 0 5.632 2.368t2.368 5.632q0 0.896-0.32 2.048 0.224-0.032 0.32-0.032 2.464 0 4.224 1.76t1.76 4.224v2.016q0 2.496-1.76 4.224t-4.224 1.76h-0.384q0.288-0.8 0.352-1.44 0.096-1.312-0.32-2.56t-1.408-2.208l-4-4q-1.76-1.792-4.256-1.792t-4.224 1.76l-4 4q-0.96 0.96-1.408 2.24t-0.32 2.592q0.032 0.576 0.256 1.248-2.72-0.608-4.512-2.784t-1.792-5.056zM10.016 22.208q-0.096-0.96 0.576-1.6l4-4q0.608-0.608 1.408-0.608 0.832 0 1.408 0.608l4 4q0.672 0.64 0.608 1.6-0.032 0.288-0.16 0.576-0.224 0.544-0.736 0.896t-1.12 0.32h-1.984v6.016q0 0.832-0.608 1.408t-1.408 0.576-1.408-0.576-0.576-1.408v-6.016h-2.016q-0.608 0-1.088-0.32t-0.768-0.896q-0.096-0.288-0.128-0.576z"
											clip-rule="evenodd" />
									  </svg>
								<input id="uploadBtn" type="file" class="upload" />
								</label> 
							</div>
							<br>
					  <p for="image" id="image_lb" class="error" style="direction: ltr;"></p>


							

							 
		  <div class="button-container" style="display: flex; justify-content: space-between; align-items: center;">
			<button type="submit"  class="btn-sub" style="margin-left: 0px; width: auto;" >Submit</button>
			<button type="reset"  class="btn-res" style="margin-right:0px; width: auto;">Reset</button>     
			
		</div>
		
						</form>



					</div>

				</div>

			</div>
			<script type="text/javascript">
				window.addEventListener('scroll', reveal);
				function reveal() {
					var reveals = document.querySelectorAll('.reveal');
					for (var i = 0; i < reveals.length; i++) {
						var windowheight = window.innerHeight;
						var revealtop = reveals[i].getBoundingClientRect().top;
						var revealpoint = 150;

						// when we scroll down elements become active ->> see CSS 
						if (revealtop < windowheight - revealpoint) {
							reveals[i].classList.add('active');
						} else {
							reveals[i].classList.remove('active');
						}
					}
				}
			</script>




			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
				crossorigin="anonymous"></script>
</body>
</html>
