<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


  <title>SapienzaNET</title>
</head>
<!-- fixed top navbar-->

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <img th:src="@{/images/0000.png}" alt="Logo" width="180" class="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ourServ">Servizi</a>

        </li>

      </ul>
    </div>
  </nav>
  <!--background image-->
  <header class="head-img text-white text-center"
    th:style="|background-image: url( @{/images/La-Sapienza-Roma-scaled.jpg} ); padding-top: 116px;|">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>SapienzaNET</h1>

          <!-- buttons -->
          <div class="button-cl" style="margin-top: 200px; word-spacing: 320px;">
          <button type="button" class="btn btn-primary btn-lg " style="margin-bottom:20px">
            <a th:href="@{/education}" style="color:inherit;     font-family: math;" > Education </a>
          </button>
          <button type="button" class="btn btn-primary btn-lg">
            <a th:href="@{/forFun}" style="color:inherit ;     font-family: math;" > For Fun</a>
          </button>
          </div>
          
        </div>
      </div>
    </div>

  </header>
  <!-- Our services -->
  <section class="our-services reveal" id="ourServ">
    <div class="services">

      <div class="text">
        <h2>Servizi</h2>
        <p>
          Il sito si pone come prerogativa il rendere più agevole e compatta la navigazione nel mare di informazioni che concernono la vita universitaria, sia in ambito didattico che in ambito sociale. 
          Nella sezione "For Fun" troverai diverse categorie di eventi ed avrai la possibilità di aggiungerne dei nuovi. Nella sezione "Education" troverai le informazioni essenziali di ogni corso di studio, con la possibilità di suggerire materiale ed informazioni utili ai posteri. 
          
           

         </p>
         <img th:src="@{/images/51407008322_94d228fe44_b.jpg}" class="pic">


      </div>
    </div>
  </section>




  <!--about us -->
  <section class="about-us reveal" id="about">
    <div class="about">

      <div class="text">
        <h2>About Us</h2>

        <p>L'idea di SapienzaNET nasce da due studenti di Ingegneria Informatica frquentati il terzo anno. 
          Il progetto è stato svolto al termine del corso di Linguaggi E Teconologie Per Il Web. 
          Puoi trovare tutto il codice sorgente nella repository GitHub al link sottostante.
       </p>
       <img th:src="@{/images/marcopolo_foto1.jpg}" class="pic">

      </div>
    </div>
  </section>


  <!--footer-->

  <div class="footer">

    <a class="fa fa-github" target="_blank" style="font-size:50px ; color: inherit;" href="https://github.com/Angelo-Pio/SapienzaNet"></a>
    <p class="text-muted small mb-4 mb-lg-0">© SapienzaNET 2023. All rights Reserved.</p>

  </div>

  <script type="text/javascript">

 
    window.addEventListener('scroll',reveal);
    function reveal(){
      var reveals =document.querySelectorAll('.reveal');
      for (var i=0; i<reveals.length;i++){
        var windowheight=window.innerHeight;
        var revealtop=reveals[i].getBoundingClientRect().top;
        var revealpoint =150;

        // when we scroll down elements become active ->> see CSS 
        if (revealtop<windowheight-revealpoint){
          reveals[i].classList.add('active');
        }
        else{
          reveals[i].classList.remove('active');
        }
      }
    }

  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>